@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    src:    local("TT Lakes");
            url("fonts/TTLakes-Regular.woff") format("woff");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    src:    local("TT Lakes");
            url("fonts/TTLakes-Medium.woff") format("woff");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    src:    local("TT Lakes");
            url("fonts/TTLakes-Bold.woff") format("woff");
    font-style: normal;
    font-display: swap;
}